@model hospitalwebapp.Models.EmailModel

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_RegisteredPatientLayout.cshtml";
}

<hr />
<div class="container-fluid">

    @Html.Partial("_MyContactView")

</div>