@*Renders Footer Second Layer Contents here as Partial View*@

<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mx-auto mb-4" style="font-size: 0.9rem;">

    <!-- Content -->
    <h6 class="text-uppercase font-weight-bold">Faith-Hills Specialist Hospital Limited</h6>
    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
    <p>
        At Faith-Hills Specialist Hospital, we offer the best medical services.<br> Our highly specialized experts are
        deeply experienced in treating rare and complex conditions.
    </p>

</div>
<!-- Grid column -->
<!-- Grid column -->
<div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 mx-auto mb-4" style="font-size: 0.9rem;">

    <!-- Links -->
    <h6 class="text-uppercase font-weight-bold text-white">Useful links</h6>
    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
    <p>
        <a href="#!" class="text-white">Guidance</a>
    </p>
    <p>
        <a href="#!" class="text-white">Schedule an appointment</a>
    </p>
    <p>
        <a href="#!" class="text-white">Emergency</a>
    </p>
    <p>
        <a href="#!" class="text-white">About us</a>
    </p>

</div>
<!-- Grid column -->
<!-- Grid column -->
<div class="col-sm-4 col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="font-size: 0.9rem;">

    <!-- Links -->
    <h6 class="text-uppercase font-weight-bold">Contact</h6>
    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
    <p>
        <i class="fas fa-home mr-2"></i> 87 Alimosho Road, Alaguntan Bus Stop, Iyana Ipaja, Lagos
    </p>
    <p>
        <i class="fas fa-envelope mr-2"></i> faith-hills.hospital@gmail.com
    </p>
    <p>
        <i class="fas fa-phone mr-2"></i> +234 08098099034, 09063564740
    </p>
    <p>
        <i class="fas fa-print mr-2"></i> +234 1-8400042
    </p>

</div>
