@*TopLayer Bar Link as Partial View *@
<ul class="nav justify-content-end">


    <li class="nav-item">
        <a class="nav-link text-white active" href="#"><span class="fa fa-users mr-1" aria-hidden="true"></span>Client Support</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white main-layer-topmost-border" href="#"><span class="fa fa-envelope mr-1" aria-hidden="true"></span>Contact Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="Login">Login<span class="fa fa-sign-in-alt ml-1" aria-hidden="true"></span></a>
    </li>

</ul>
