@*Top NavBar Second Layer as Partial View*@

<div class="container-fluid p-0 col-xs-12 col-sm-12 col-md-12">
    <a class="navbar-brand" href="Index">
        <img class="img-rounded rounded-circle mr-2" width="50" height="50" src="~/Content/images/hospital-logo.jpg" alt="Hospital logo"><span class="text-uppercase font-weight-bold hospital-name-header-color mt-3" style="font-size: 0.9rem;">Faith-Hills Specialist Hospital Limited</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-primary" href="Index">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="#">Specialized</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Medicine</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Surgery</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Pharmacy</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Laboratory</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Private Outpatient</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">General Outpatient</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Patients & Visitors
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="#">Feedback</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Request for an appointment</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About us
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <a class="dropdown-item" href="#">History</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Background</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Management</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Core Values</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link text-primary" href="Contact">Contact Us</a>
            </li>

        </ul>
    </div>
</div>
